In [11]:
even_list = [2,4,6,8,10]
print("even_list = ",even_list)

even_list =  [2, 4, 6, 8, 10]

In [70]:
a_list = list(range(2,11,2))
print("even_list = ",even_list)

NameError: name 'a_list' is not defined

In [65]:
nations = ['Korea', 'China', 'India', 'Nepal']
print("nations = ",nations)

nations =  ['Korea', 'China', 'India', 'Nepal']

In [16]:
friends = ['길동', '철수', '은지', '지은', '영민']
print("frineds = ", friends)

frineds =  ['길동', '철수', '은지', '지은', '영민']

In [17]:
string = ['X', 'Y', 'Z']
print("string = ",string)

string =  ['X', 'Y', 'Z']

In [18]:
prime_list = [2, 3, 5, 7]
print("prime_list의 첫 원소 : ", prime_list[0])

prime_list의 첫 원소 :  2

In [19]:
prime_list = [2, 3, 5, 7]
print("prime_list의 마지막 원소 : ", prime_list[3])

prime_list의 마지막 원소 :  7

In [20]:
prime_list = [2, 3, 5, 7]
print("prime_list의 마지막 원소 : ", prime_list[-1])

prime_list의 마지막 원소 :  7

In [21]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print("nations의 첫 원소 : ",nations[0])

nations의 첫 원소 :  Korea

In [22]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print("nations의 마지막 원소 : ",nations[3])

nations의 마지막 원소 :  Malaysia

In [23]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print("nations의 마지막 원소 : ",nations[-1])

nations의 마지막 원소 :  Malaysia

In [24]:
prime_list = [2, 3, 5, 7]
print("소수 목록 : ", prime_list)
prime_list.append(11)
print("추가 후 소수 목록 : ",prime_list)

소수 목록 :  [2, 3, 5, 7]
추가 후 소수 목록 :  [2, 3, 5, 7, 11]

In [26]:
prime_list = [2, 3, 5, 7, 11]
print("삭제 전 소수 목록 : ", prime_list)
prime_list.remove(3)
print("삭제 후 소수 목록 : ",prime_list)

삭제 전 소수 목록 :  [2, 3, 5, 7, 11]
삭제 후 소수 목록 :  [2, 5, 7, 11]

In [27]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print("국가 목록 : ", nations)
nations.append('Nepal')
print("추가 후 국가 목록 : ", nations)

국가 목록 :  ['Korea', 'China', 'Russia', 'Malaysia']
추가 후 국가 목록 :  ['Korea', 'China', 'Russia', 'Malaysia', 'Nepal']

In [30]:
if 'Japan' in nations:
        print('Japan', "는(은) 국가 목록애 있습니다.")
else:
    print('Japan', "는(은) 국가 목록에 없습니다.")
    

if 'Russia' in nations:
    print('Russia', "는(은) 국가 목록애 있습니다.")
else:
    print('Russia', "는(은) 국가 목록에 없습니다.")

Japan 는(은) 국가 목록에 없습니다.
Russia 는(은) 국가 목록애 있습니다.

In [31]:
prime_list = [2, 3, 5, 7]
print("1에서 10까지의 소수 : ",prime_list)
print('최솟값 : ',min(prime_list))
print("최댓값 : ", max(prime_list))
print("합계 : ", sum(prime_list))
print('평균 : ', sum(prime_list)/len(prime_list))

1에서 10까지의 소수 :  [2, 3, 5, 7]
최솟값 :  2
최댓값 :  7
합계 :  17
평균 :  4.25

In [34]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print("국가 목록 : ", nations)
print("사전에 가장 먼저 나오는 나라 : ",min(nations))
print("사전에 가장 뒤에 나오는 나라 : ",max(nations))

국가 목록 :  ['Korea', 'China', 'Russia', 'Malaysia']
사전에 가장 먼저 나오는 나라 :  China
사전에 가장 뒤에 나오는 나라 :  Russia

In [35]:
a = [1,2,3]
b = [10,20,30]
a.append(b)
print(a)

[1, 2, 3, [10, 20, 30]]

In [36]:
a = [1,2,3]
b = [10,20,30]
a.extend(b)
print(a)

[1, 2, 3, 10, 20, 30]

In [39]:
nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("nlist = ", nlist)

nlist =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
nlist.insert(0,0)
print("nlist = ", nlist)

nlist =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
nlist.reverse()
print("nlist = ", nlist)

nlist =  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [42]:
print("마지막 원소 = ", nlist.pop())
print("nlist = ", nlist)

마지막 원소 =  0
nlist =  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [45]:
n = int(input("반복할 정수를 입력하시오 : "))
list = [1,2,3]
print(list*n)

반복할 정수를 입력하시오 : 3
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [47]:
n = int(input("반복할 정수를 입력하시오 : "))
list = [1,2,3]
print(list*n)

반복할 정수를 입력하시오 : 4
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [71]:
n_list = [0]
n_list = list(range(0, 15, 1))
print("n_list = ", n_list)

TypeError: 'list' object is not callable