In [2]:
n_list = list(range(15))
print(n_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [4]:
n_list = list(range(15))
s_list1 = n_list[:5]
print(s_list)

[0, 1, 2, 3, 4]

In [7]:
n_list = list(range(15))
s_list2 = n_list[5:11]
print(s_list2)

[5, 6, 7, 8, 9, 10]

In [9]:
n_list = list(range(15))
s_list3 = n_list[11:16]
print(s_list3)

[11, 12, 13, 14]

In [10]:
n_list = list(range(15))
s_list4 = n_list[2:11:2]
print(s_list4)

[2, 4, 6, 8, 10]

In [11]:
n_list = list(range(15))
s_list5 = n_list[-5:-10:-1]
print(s_list5)

[10, 9, 8, 7, 6]

In [13]:
n_list = list(range(15))
s_list6 = n_list[-5:-14:-2]
print(s_list6)

[10, 8, 6, 4, 2]

In [3]:
captial_dic = {'Korea':'Seoul', 'China':'Beijing','USA':'Washington DC'}
captial_dic['Korea']

'Seoul'

In [5]:
captial_dic['China']

'Beijing'

In [6]:
captial_dic['USA']

'Washington DC'

In [8]:
fruits_dic = {'apple':5000,'banana':4000,'grape':5300,'melon':6500}
print("apple의 가격은 ",fruits_dic['apple'],"원입니다.")
print("banana의 가격은 ",fruits_dic['banana'],"원입니다.")
print("grape의 가격은 ",fruits_dic['grape'],"원입니다.")
print("melon의 가격은 ",fruits_dic['melon'],"원입니다.")

apple의 가격은  5000 원입니다.
banana의 가격은  4000 원입니다.
grape의 가격은  5300 원입니다.
melon의 가격은  6500 원입니다.

In [9]:
person = {'이름':'홍길동', '나이':26, '몸무게':82}
person['특기'] = '분신술'
person

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술'}

In [10]:
person['아버지'] = '홍판서'
person

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

In [11]:
del person['나이']
person

{'이름': '홍길동', '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

In [12]:
captial_dic = {'Korea':'Seoul', 'China':'Beijing','USA':'Washington DC'}
'Korea' in captial_dic

True

In [13]:
'China' in captial_dic

True

In [14]:
'Indonesia' in captial_dic

False

In [15]:
'Beijing' in captial_dic

False

In [18]:
fruits_dic = {'apple':6000,'melon':3000,'banana':5000,'orange':7000}
fruits_dic.keys()

dict_keys(['apple', 'melon', 'banana', 'orange'])

In [19]:
fruits_dic.values()

dict_values([6000, 3000, 5000, 7000])

In [20]:
fruits_dic.pop('apple')
fruits_dic

{'melon': 3000, 'banana': 5000, 'orange': 7000}

In [21]:
fruits_dic.clear()
fruits_dic

{}

In [27]:
fruits_dic = {'apple':6000,'melon':3000,'banana':5000,'orange':4000}
a_list = []
for i in fruits_dic:
    a_list.append(i)
a_list

['apple', 'melon', 'banana', 'orange']

In [30]:
fruits_dic = {'apple':6000,'melon':3000,'banana':5000,'orange':4000}
a_list = []
for i in fruits_dic.values():
    a_list.append(i)
a_list

[6000, 3000, 5000, 4000]

In [31]:
print("fruits_dic 딕셔너리의 항목의 개수 : ",len(fruits_dic))

fruits_dic 딕셔너리의 항목의 개수 :  4

In [35]:
if 'apple' in fruits_dic:
    print('apple is in fruits_dic.')
else:
    print('apple is not in fruits_dic')
if 'mango' in fruits_dic:
    print('mango is in fruits_dic')
else:
    print('mango is not in fruits_dic')

apple is in fruits_dic.
mango is not in fruits_dic

In [37]:
the_day = (1919,3,1)
year,month,day = the_day
print(year,"년 ", month, "월 ", day, "일은 삼일절입니다.")

1919 년  3 월  1 일은 삼일절입니다.

In [38]:
list = [10,20,30]
tuple1 = tuple(list)
a,b,c = tuple1
print("a = ",a)
print("b = ",b)
print("c = ",c)

a =  10
b =  20
c =  30

In [40]:
tuple1 = ('홍길동',20190001,179)
person = tuple(tuple1)
print("person = ",person)

person =  ('홍길동', 20190001, 179)

In [41]:
person[1] = 20190003

TypeError: 'tuple' object does not support item assignment