In [2]:
person = ('홍길동',20190001,179)
a_list = list(person)
a_list[1] = 20190003
person = tuple(a_list)
print("학번 변동 후 person = ",person)

학번 변동 후 person =  ('홍길동', 20190003, 179)

In [4]:
x = 10
y = 20
def square(x,y):
    x = x **2
    y = y **2
    return x, y
x_sq, y_sq = square(x,y)
print('{} 제곱 = {}, {} 제곱 = {}'.format(x, x_sq, y, y_sq))

10 제곱 = 100, 20 제곱 = 400

In [5]:
(10,20,30) + (40,50,60)

(10, 20, 30, 40, 50, 60)

In [7]:
print('Hello '*3) #Hello 문자열을 3번 출력하는것이고 아래는 Hello 문자열을 가지는 튜플을 3번 출력하는것이다
print(('Hello ',)*3)

Hello Hello Hello
('Hello ', 'Hello ', 'Hello ')

In [10]:
lst = ['apple', 'mango', 'banana']
s1 = set(lst)
print("s1 = ",s1)

s1 =  {'apple', 'mango', 'banana'}

In [11]:
greet = 'Good afternoon'
s2 = set(greet)
print("s2 = ",s2)

s2 =  {' ', 'r', 'f', 'a', 'n', 'o', 'G', 'd', 'e', 't'}

In [12]:
s1 = {10,20,30,40}
s2 = {30,40,50,60,70}
s1|s2

{10, 20, 30, 40, 50, 60, 70}

In [15]:
s1&s2

{30, 40}

In [14]:
s1-s2

{10, 20}

In [16]:
s1^s2

{10, 20, 50, 60, 70}

In [18]:
s1.issubset(s2)

False

In [19]:
s1.issuperset(s2)

False

In [20]:
s1.isdisjoint(s2)

False

In [23]:
A = {1,2}
B = {'A', 'B', 'C'}
def product_set(set1, set2):
    res = set()
    for i in set1:
        for j in set2:
            res = res | {(i,j)}
    return res
AxB = product_set(A,B)
print('AxB = ',AxB)
BxA = product_set(B,A)
print('BxA = ',BxA)
AxA = product_set(A,A)
print('AxA = ',AxA)
BxB = product_set(B,B)
print('BxB = ',BxB)

AxB =  {(2, 'A'), (1, 'B'), (1, 'C'), (1, 'A'), (2, 'B'), (2, 'C')}
BxA =  {('C', 1), ('B', 2), ('C', 2), ('A', 1), ('B', 1), ('A', 2)}
AxA =  {(1, 1), (1, 2), (2, 1), (2, 2)}
BxB =  {('A', 'C'), ('B', 'C'), ('A', 'A'), ('C', 'C'), ('B', 'A'), ('C', 'A'), ('A', 'B'), ('B', 'B'), ('C', 'B')}

In [45]:
def tuple_sum(tup):
    if isinstance(tup,int):
        return tup
    else:
        accum =0
        for element in tup:
            accum += tuple_sum(element)
    return accum

def product_set(set1, set2):
    res = set()
    for i in set1:
        for j in set2:
            res = res | {(i,j)}
    return res

def exp(input_set,exponent):
    res = input_set
    for _ in range(exponent-1):
        res = product_set(res,input_set)
    return res
a = {1,2,3,4,5,6}
a2 = exp(a,3)
    

print("주사위를 세 번 던져 발생할 수 있는 사건은", len(a2), "가지 경우가 존재합니다.")

주사위를 세 번 던져 발생할 수 있는 사건은 216 가지 경우가 존재합니다.

In [27]:
sums = [tuple_sum(tup) for tup in a2]
num = 0
for i in sums:
    if i >=10:
        num += 1
print("주사위를 세 번 던져 나온 눈의 합이 10 이상인 경우는 ", num, "가지입니다.")

주사위를 세 번 던져 나온 눈의 합이 10 이상인 경우는  135 가지입니다.

In [47]:
def prob_over(x):
    sums = [tuple_sum(tup) for tup in a2]
    num = 0
    for i in sums:
        if i >=x:
            num += 1
    return num/len(a2)*100
list = [3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
for i in list:
    x = i
    prob_over(x)
    print('눈의 합으로 {} 이상을 얻을 확률 {:6.2f}%'.format(x,prob_over(x)))

눈의 합으로 3 이상을 얻을 확률 100.00%
눈의 합으로 4 이상을 얻을 확률  99.54%
눈의 합으로 5 이상을 얻을 확률  98.15%
눈의 합으로 6 이상을 얻을 확률  95.37%
눈의 합으로 7 이상을 얻을 확률  90.74%
눈의 합으로 8 이상을 얻을 확률  83.80%
눈의 합으로 9 이상을 얻을 확률  74.07%
눈의 합으로 10 이상을 얻을 확률  62.50%
눈의 합으로 11 이상을 얻을 확률  50.00%
눈의 합으로 12 이상을 얻을 확률  37.50%
눈의 합으로 13 이상을 얻을 확률  25.93%
눈의 합으로 14 이상을 얻을 확률  16.20%
눈의 합으로 15 이상을 얻을 확률   9.26%
눈의 합으로 16 이상을 얻을 확률   4.63%
눈의 합으로 17 이상을 얻을 확률   1.85%
눈의 합으로 18 이상을 얻을 확률   0.46%