In [3]:
game_score = int(input('game_score = '))
if game_score >= 1000:
    print('당신은 고수입니다.')

game_score = 1300
당신은 고수입니다.

In [7]:
num_a = int(input('num_a = ')) 
num_b = int(input('num_b = '))
if num_a == num_b:
    print("두 값이 일치합니다.")

num_a = 300
num_b = 300
두 값이 일치합니다.

In [8]:
n = int(input('정수를 입력하세요 : '))
print('n = ',n)
if n % 2 == 0:
    print(n, '은(는) 짝수입니다.')

정수를 입력하세요 : 50
n =  50
  50 은(는) 짝수입니다.

In [9]:
n = int(input('정수를 입력하세요 : '))
print('n = ',n)
if n % 2 == 0:
    print(n, '은(는) 짝수입니다.')

정수를 입력하세요 : 75
n =  75

In [12]:
x = int(input('정수를 입력하세요 : '))
print('x = ', x)
if x > 0:
    print(x,'은(는) 자연수입니다.')

정수를 입력하세요 : 50
x =  50
50 은(는) 자연수입니다.

In [13]:
x = int(input('정수를 입력하세요 : '))
print('x = ', x)
if x > 0:
    print(x,'은(는) 자연수입니다.')

정수를 입력하세요 : -10
x =  -10

In [14]:
game_score = int(input('게임점수를 입력하시오 : '))
print('game_score = ',game_score)
if game_score >=1000:
    print('고수입니다.')
else:
    print('입문자입니다.')

게임점수를 입력하시오 : 800
game_score =  800
입문자입니다.

In [15]:
game_score = int(input('게임점수를 입력하시오 : '))
print('game_score = ',game_score)
if game_score >=1000:
    print('고수입니다.')
else:
    print('입문자입니다.')

게임점수를 입력하시오 : 1300
game_score =  1300
고수입니다.

In [16]:
num_a = int(input('한 정수를 입력하시오 : ')) 
num_b = int(input('다른 정수를 입력하시오 : '))
if num_a == num_b:
    print('두 값이 일치합니다.')
else:
    print('두 값이 일치하지 않습니다.')

한 정수를 입력하시오 : 100
다른 정수를 입력하시오 : 200
두 값이 일치하지 않습니다.

In [17]:
num_a = int(input('한 정수를 입력하시오 : ')) 
num_b = int(input('다른 정수를 입력하시오 : '))
if num_a == num_b:
    print('두 값이 일치합니다.')
else:
    print('두 값이 일치하지 않습니다.')

한 정수를 입력하시오 : 300
다른 정수를 입력하시오 : 300
두 값이 일치합니다.

In [18]:
age = int(input('당신은 성인인가요(성인이면 1, 미성년이면 0): '))
if age == 1:
    print('당신은 성인입니다.')
else:
    print('당신은 미성년자입니다.')

당신은 성인인가요(성인이면 1, 미성년이면 0): 0
당신은 미성년자입니다.

In [19]:
age = int(input('당신은 성인인가요(성인이면 1, 미성년이면 0): '))
if age == 1:
    print('당신은 성인입니다.')
else:
    print('당신은 미성년자입니다.')

당신은 성인인가요(성인이면 1, 미성년이면 0): 1
당신은 성인입니다.

In [21]:
age = int(input('당신은 성인인가요(성인이면 1, 미성년이면 0): '))
if age == 1:
    marry = int(input('결혼을 하셨나요(기혼이면 1, 미혼이면 0): '))
    if marry == 1:
        print('당신은 결혼한 성인입니다.')
    else:
        print('당신은 결혼하지 않은 성인입니다.')
else:
    print('당신은 미성년자입니다.')

당신은 성인인가요(성인이면 1, 미성년이면 0): 1
결혼을 하셨나요(기혼이면 1, 미혼이면 0): 1
당신은 결혼한 성인입니다.

In [22]:
age = int(input('당신은 성인인가요(성인이면 1, 미성년이면 0): '))
if age == 1:
    marry = int(input('결혼을 하셨나요(기혼이면 1, 미혼이면 0): '))
    if marry == 1:
        print('당신은 결혼한 성인입니다.')
    else:
        print('당신은 결혼하지 않은 성인입니다.')
else:
    print('당신은 미성년자입니다.')

당신은 성인인가요(성인이면 1, 미성년이면 0): 1
결혼을 하셨나요(기혼이면 1, 미혼이면 0): 0
당신은 결혼하지 않은 성인입니다.

In [23]:
num = 2
if num>=1 and num<=10:
    print('True')

True

In [24]:
age = int(input('age = '))
if age>10 and age<19:
    print('청소년입니다.')

age = 10

In [25]:
age = int(input('age = '))
if age>10 and age<19:
    print('청소년입니다.')

age = 12
청소년입니다.

In [26]:
speed = int(input('자동차의 속도를 입력하세요(단위 : km/h): '))
if speed >= 100:
    print('고속')
elif speed >= 60:
    print('중속')
elif speed < 60:
    print('저속')

자동차의 속도를 입력하세요(단위 : km/h): 13
저속

In [27]:
speed = int(input('자동차의 속도를 입력하세요(단위 : km/h): '))
if speed >= 100:
    print('고속')
elif speed >= 60:
    print('중속')
elif speed < 60:
    print('저속')

자동차의 속도를 입력하세요(단위 : km/h): 130
고속

In [28]:
mi = int(input('미세먼지 농도를 입력하세요(단위 : microgram/m^ 3): '))
if mi >= 76:
    print('매우 나쁨')
elif mi > 36:
    print('나쁨')
elif mi >16:
    print('보통')
elif mi > 0:
    print('좋음')

미세먼지 농도를 입력하세요(단위 : microgram/m^ 3): 13
좋음

In [29]:
mi = int(input('미세먼지 농도를 입력하세요(단위 : microgram/m^ 3): '))
if mi >= 76:
    print('매우 나쁨')
elif mi > 36:
    print('나쁨')
elif mi >16:
    print('보통')
elif mi > 0:
    print('좋음')

미세먼지 농도를 입력하세요(단위 : microgram/m^ 3): 33
보통

In [32]:
for _ in range(5):
    print('Hello, Python!')

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!

In [34]:
for i in range(5):
    print(i)

0
1
2
3
4

In [35]:
list(range(0,101))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [36]:
list(range(2,101,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [37]:
list(range(1,101,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [38]:
list(range(-99,0))

[-99,
 -98,
 -97,
 -96,
 -95,
 -94,
 -93,
 -92,
 -91,
 -90,
 -89,
 -88,
 -87,
 -86,
 -85,
 -84,
 -83,
 -82,
 -81,
 -80,
 -79,
 -78,
 -77,
 -76,
 -75,
 -74,
 -73,
 -72,
 -71,
 -70,
 -69,
 -68,
 -67,
 -66,
 -65,
 -64,
 -63,
 -62,
 -61,
 -60,
 -59,
 -58,
 -57,
 -56,
 -55,
 -54,
 -53,
 -52,
 -51,
 -50,
 -49,
 -48,
 -47,
 -46,
 -45,
 -44,
 -43,
 -42,
 -41,
 -40,
 -39,
 -38,
 -37,
 -36,
 -35,
 -34,
 -33,
 -32,
 -31,
 -30,
 -29,
 -28,
 -27,
 -26,
 -25,
 -24,
 -23,
 -22,
 -21,
 -20,
 -19,
 -18,
 -17,
 -16,
 -15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1]

In [39]:
s = 0
for i in range(1,101):
    s = s + i
print(s)

5050

In [41]:
s = 0
for i in range(0, 101, 2):
    s = s + i
print(s)

2550

In [42]:
s = 0
for i in range(1, 101, 2):
    s = s + i
print(s)

2500

In [47]:
n = 7
for i in range(n):
    i = n - i - 1
    s = ''
    for j in range(i):
        s = s + ' '
    print(s + '#')

      #
     #
    #
   #
  #
 #
#